html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  font-weight: $global-font-weight;
  font-size: $global-font-size;
  line-height: $global-line-height;
  letter-spacing: -0.02em;
  color: $black;

  @media (max-width: 768px) {
    font-size: 16px !important;
    line-height: 1.3 !important;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  border-width: 0 !important;
}

th, td {
  font-weight: inherit;
  padding: 0;
}

img {
  display: block;
}

.body {
  width: 100%;
  min-width: 320px;
  background-color: $body-background;
}

.main {
  background-color: $white;
}

.wrapper {
  &-main {
    max-width: 1200px;
  }

  &-content {
    width: 88.75%;
  }
}

.date {
  color: $gray;
  letter-spacing: initial;
}

.description {
  min-height: 249px;

  @media (max-width: 1000px) {
    min-height: auto !important;
  }
}

.header {
  font-weight: $header-font-weight;
  font-size: $h1-font-size;
  line-height: 48px;
  text-align: left;
  margin: 0;

  @media (max-width: 768px) {
    font-size: $h2-font-size !important;
    line-height: 1.3 !important;
  }
}

.primary-btn {
  display: inline-block;
  padding-top: 23px;
  padding-right: 37px;
  padding-bottom: 20px;
  padding-left: 37px;
  background-color: $primary-color;
  border-radius: 15px;
  text-decoration: none !important;
  color: $white !important;
  font-size: 20px;

  @media (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px !important;
    line-height: 1.3 !important;
  }
}

.back-img {
  @media (max-width: 1000px) {
    width: 0;
  }
}

.unsubscribe-link {
  color: $gray;
}
